body {
	background-color: #232323;
	color: white;
	font-family: 'Rajdhani', sans-serif;
	margin: 0px;
}

.square {
	height: 75%;
	float: left;
	margin: 1%;
	line-height: 70%;
}

.squareText {
	background-color: rgba(0,0,0,0.5);
	text-shadow: 1px 1px #000;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#color-container {
	width: 600px;
	height: 600px;
	margin: 0 auto;
}

#header {
	text-align: center;
}

h1 {
	filter: drop-shadow(1px 1px 4px black);
	font-size: 3em;
	padding-top: 10px;
	margin-bottom: 10px;
}

#info {
	background-color: white;
	color: #232323;
	font-family: 'Khula', sans-serif;
	padding-top: 3px;
}

#info span {
	padding-top: 3px;
	color: #48e;
}

.hidden {
	display: none;
}

.redVal {
	color: #fcc;
}

.greenVal {
	color: #cfc;
}
.blueVal {
	color: #ccf;
}

.winner {
	box-shadow: 0px 0px 20px #9ff;
}

.loser {
	box-shadow: 0px 0px 20px #d00;
}

.tab {
	margin-left: 2em;
}

#colorCountInput {
	width: 30;
}

#newGameBtn:hover {
	background-color: #48e;
	color: white;
}

#newGameBtn {
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

.clickable {
	cursor: pointer;
}

